<%= render partial: "layouts/errors", locals: {record: @transfer} %>

<%= form_for @transfer, html: { role: 'form', class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :source_account, class: 'col-lg-2 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :source_account, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destination_account, class: 'col-lg-2 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :destination_account, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_date, class: 'col-lg-2 control-label' %>
    <div class="col-lg-2">
      <%= f.date_field :due_date, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: 'col-lg-2 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= f.submit options={class: 'btn btn-primary'} %>
    </div>
  </div>
<% end %>